<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <link rel="stylesheet" href="stylesheets/style.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
 <title>Sign Up</title>
</head>

<body>

 <form class="col s12" id="form" action="/signup" method="POST" enctype="multipart/form-data">
   <label for="firstname">First Name</label>
   <br>
   <input type="text" name="firstname" placeholder="John" class="validate">

   <br>
   <br>

   <label for="lastname">Last Name</label>
   <br>
   <input type="text" name="lastname" placeholder="Doe">

   <br>
   <br>

   <label for="email">Email</label>
   <br>
   <input type="email" name="email" placeholder="john@doe.com">

   <br>
   <br>
   <label for="password">Password</label>
   <br>
   <input type="password" name="password" placeholder="DeathStar">
   <br>
   <br>

   <label for="description">Description</label>
   <br>
   <textarea class="materialize-textarea" type="text" name="description" placeholder="Say a few words about you, the kind of trips you like, the places you want to visit..."></textarea>
   <br>
   <br>
   <div class="file-field input-field">
     <div class="btn">
       <span>File</span>
       <input type="file" name="photo">
     </div>
     <div class="file-path-wrapper">
       <input class="file-path validate" type="text">
     </div>
   </div>
   <br><br>

   <button type="submit" name="action">Create account
 </button>

   <span id="already-have-account">Already have an account ?
     <a href="login">Login</a>
   </span>

 </form>
 <% if (typeof(errorMessage) != "undefined") { %>
   <div class="error-message">
     <%= errorMessage %>
   </div>
   <% } %>
</body>

</html>