<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>Sign Up</title>
</head>

<body>

  <form id="form" action="/trip" method="POST">
    <label for="title">Title</label><br>
    <input class="o" type="text" name="title"
      placeholder="AnakinSkywalker">

    <br><br>
    <label for="description">description</label><br>
    <textarea class="o" type="text" name="description"
      placeholder="DeathStar"></textarea>
    <br><br>

     <label for="startdate">startdate</label><br>
    <input class="o" type="date" name="startdate">
    <br><br>

    <label for="enddate">enddate</label><br>
    <input class="o" type="date" name="enddate">
    <br><br>
<label for="enddate">activity</label><br>
    <select class="o">
  <option value="volvo">Adventure</option>
  <option value="saab">Art</option>
  <option value="opel">Randonee</option>
  <option value="audi">Visit</option>
</select>

<br><br>
    <button>Create trip</button>
  </form>
  <% if (typeof(errorMessage) != "undefined") { %>
  <div class="error-message"><%= errorMessage %></div>
<% } %>
</body>
</html>