<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/nav.css">
    <script src="javascripts/js.js"></script>
    <title>Sign Up</title>
</head>

<body>
    <div class="main">

        <div class="topnav" id="myTopnav">

            <a href="/" class="active">JoinTrip</a>
            <a href="about" class="right">About</a>
            <a href="trip" class="right">Create your trip</a>
            <a href="logout" class="right">Logout</a>
            <a href="login" class="right">Login</a>
            <a href="signup" class="right">Signup</a>
            <a href="about" class="right">About</a>

            <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
        </div>


        <%- body -%>
    </div>
</body>

</html>