<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/nav.css">
     <script src="http://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script src="javascripts/js.js"></script>
    <title>Sign Up</title>
</head>

<body>
    <div class="main">

        <div class="topnav" id="myTopnav">

            <a href="/" class="active">JoinTrip</a>
            <a href="about" class="right">About</a>
            
           <a href="profiles" class="right">My Profile</a>
            
                <a href="login" class="right">Login</a>
           
           
                
            <a href="logout" class="right">Logout</a>
           
            
            <a href="signup" class="right">Signup</a>
            <a href="trip" class="right">Create your trip</a>
            
            <a href="javascript:void(0);" class="icon" onclick="myFunc()">&#9776;</a>
        </div>


        <%- body -%>
    </div>
</body>
 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0htBQBFsWMSEwl2efcyxONE_ykG7PtI4&libraries=places&callback=initMap"
        async defer></script>
</html>