<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/footer.css">
    <link rel="stylesheet" href="stylesheets/nav.css">
    
    <link href="https://fonts.googleapis.com/css?family=Kavivanar" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script src="javascripts/js.js"></script>
     <script src="http://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script src="javascripts/js.js"></script>
    <title>Join my trip</title>
</head>

<body>
    <div class="main">

        <div class="topnav" id="myTopnav">

            <a href="/" class="active">JoinTrip</a>
            <a href="about" class="right">About</a>
            
                <% if(isUserLoggedinn){%>
            <a href="logout" class="right">Logout</a>
           <a href="profiles" class="right">My Profile</a>
            <a href="trip" class="right">Create your trip</a>
                <%}%>
                <% if(!isUserLoggedinn){%>
                <a href="login" class="right">Login</a>
            
            <a href="signup" class="right">Signup</a>
                <%}%>
           
                
           
            
            
            <a href="javascript:void(0);" class="icon" onclick="myFunc()">&#9776;</a>
        </div>


        <%- body -%>
    </div>
    <footer class="footer-distributed">

			<div class="footer-left">

				<h3>Join<span>trip</span></h3>

				<p class="footer-links">
					<a href="#">Home</a>
					·
					<a href="#">Blog</a>
					·
					<a href="#">Pricing</a>
					·
					<a href="#">About</a>
					·
					<a href="#">Faq</a>
					·
					<a href="#">Contact</a>
				</p>

				<p class="footer-company-name">Company Name &copy; 2015</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>21 Revolution Street</span> Paris, France</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>+1 555 123456</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:support@company.com">support@company.com</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About the company</span>
					Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
				</p>

				<div class="footer-icons">

					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>

				</div>

			</div>

		</footer>
</body>

 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0htBQBFsWMSEwl2efcyxONE_ykG7PtI4&libraries=places&callback=initMap"
        async defer></script>
</html>