<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>About</title>
</head>

<body>

  <p>With Join My Trip, find travel buddies for your next trips!
    <br>
    <br> Join now and connect to people around the world that have the same passion as you: discovering this planet!
    <br>
    <br>Simply
    <a href="trip">create a trip</a> project and let people join your adventure if you feel you’ll be a great team!
    <br>
    <br>
    <a href="/">Discover</a> other people’s trips, filter them by city, date, or type of activity and propose the travellers to join
    them!
    <br>
    <br> Edit your
    <a href="profile">profile</a>, select the activities you like, and we’ll show you the trips that will interest you the most.
    <br>
    <br>Start the adventure now :
    <a href="signup">create your account</a> or
    <a href="login">log-in</a>.
  </p>
  <div id="accordion">
    <button class="accordion">Join My Trip</button>
    <div class="panel">
      <p>Join now and connect to people around the world that have the same passion as you: discovering this planet!</p>
    </div>

    <button class="accordion">Section 2</button>
    <div class="panel">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>

    <button class="accordion">Section 3</button>
    <div class="panel">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>
  <script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function () {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight) {
          panel.style.maxHeight = null;
        } else {
          panel.style.maxHeight = panel.scrollHeight + "px";
        }
      });
    }
  </script>
</body>

</html>