<input type="search" class="search" placeholder="Search">
<div id="trips">

    <% trips.forEach(trip => { %>

        <div class="trips">
            <div src="" class="img" alt=""></div>
            <%= trip.title %>
                <br>
                <br>

                <%= trip.description %>
        </div>

        <% }) %>

</div>