<input id="myInput" type="search" onkeyup="myFunction()" class="search" placeholder="Search">

<select id="select">
    <option value="adventure">Adventure</option>
    <option value="music">Music</option>
    <option value="hiking">Hiking</option>
    <option value="museum">Museum</option>
</select>
<input type="date">
<input type="date">
<div id="trips">

    <% trips.forEach(trip => { %>

        <li class="trips">
            <div class="show">
                <div src="" class="img" alt=""></div>
                <%= trip.title %>
                    <br>
                    <br>
                    </div>
                    <div>
                    <%= trip.description %>
                        <%= trip.startdate %>
                        </div>
            
        </li>

        <% }) %>

</div>

<script>
    function myFunction() {
        var input, filter, tripContainer, trips, div, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        tripContainer = document.getElementById("trips");
        li = tripContainer.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
            div = li[i].getElementsByClassName("show")[0];
            if (div.innerHTML.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";

            }
        }
    }
</script>


<!-- <script>
    function getSearchResult(str) {


    }

    function showResults(results) {

    }

    console.log(document.getElementById("search-bar"))
    document.getElementById("search-bar").  = (e) => {
        const searchString = e.target.value 
        const results = getSearchResult(searchString);
        showResults(results)

    }

</script> -->