<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>Create your trip</title>
</head>

<body>

  <form id="form" action="/trip" method="POST">
    <label for="title">Trip title:</label><br>
    <input class="o" type="text" name="title"
      placeholder="ex : Trip to Vietnam">

    <br><br>
    <label for="description">Description:</label><br>
    <textarea class="o" type="text" name="description"
      placeholder="What do you want to do there ? How many people do you want for this trip ?"></textarea>
    <br><br>
     

    <label for="startDate">Start date:</label><br>
    <input id="startDate" name="startdate" type="date">

    <label for="endDate">End date:</label><br>
    <input id="endDate" name="enddate" type="date">
    <br><br>
    <label for="endDate">Activity:</label><br>
    <select id="select" >
    <option value="adventure" name="activity">Adventure</option>
    <option value="music">Music</option>
    <option value="hiking">Hiking</option>
    <option value="museum">Museum</option>
   </select><br><br>
     <div id="pac-container">
    <input id="pac-input" type="text"
        placeholder="Enter a location" name="location">
  </div>


  
<br>
<div id="map"></div>

    <button>Create trip!</button>
  </form>
<% if (typeof(errorMessage) != "undefined") { %>
  <div class="error-message"><%= errorMessage %></div>
<% } %>

</body>
</html>