<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>Sign Up</title>
</head>

<body>

  <form id="form" action="/trip" method="POST">
    <label for="title">Title</label><br>
    <input class="o" type="text" name="title"
      placeholder="ex : Trip to Vietnam">

    <br><br>
    <label for="description">Description</label><br>
    <textarea class="o" type="text" name="description"
      placeholder="example description"></textarea>
    <br><br>

     
    <button>Create trip</button>
  </form>
<% if (typeof(errorMessage) != "undefined") { %>
  <div class="error-message"><%= errorMessage %></div>
<% } %>
</body>
</html>